body {

  font-family: 'Stylish', sans-serif;
}

body, header, .container1, .container2, .container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4.5em;
  font-family: 'Rammetto One', cursive;
}

.container1 {
  display: flex;
  width:170px;
  height: 170px;
  margin: 30px;
  padding: 160px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}
.container3 {
  height: 70px;
  width: 70px;
  padding: 65px;
  border-radius: 50%;
  background-color: #DAD9D9;
  color: #000;
}

.answer{
  text-align: center;
}

button {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  font-size:1.25em;
  box-shadow: 5px 5px #DAD9D9;
  font-family: 'Stylish', sans-serif;

}

button:hover {
  width: 110px;
  height:110px;
}
