body {
  font-family: 'Rammetto One', cursive;
}



body, header, .container1, .container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.5em;
}

.container1 {
  display: flex;
  width:170px;
  height: 170px;
  margin: 50px;
  padding: 160px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

.answer{
  padding: 50px;
  border-radius: 50%;
  background-color: #DAD9D9;
  color: #000;
}

button {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  font-size:1.25em;
  box-shadow: 5px 5px #DAD9D9;
  font-family: 'Rammetto One', cursive;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button:hover {
  width: 110px;
  height:110px;
}
